.DS_store
DerivedData
Podfile.lock
Pods
/build
WhisperDemo.xcodeproj/xcuserdata
WhisperDemo.xcodeproj/project.xcworkspace/xcuserdata
WhisperDemo.xcworkspace
WhisperVanilla.framework
WhisperOrchid.framework
