<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>udp_enabled</key>
	<true/>
	<key>bootstraps</key>
	<array>
		<dict>
			<key>ipv4</key>
			<string>104.207.149.72</string>
			<key>port</key>
			<string>33445</string>
			<key>public_key</key>
			<string>DzgajXQyBsC1D4Qfp6uMyJqY53ugixzsnPv4cidHq3hj</string>
		</dict>
		<dict>
			<key>ipv4</key>
			<string>104.207.149.96</string>
			<key>port</key>
			<string>33445</string>
			<key>public_key</key>
			<string>H6cU6vJL5tz3pJMf9bW6wtBKHjwDYzM88FLbhVwd1fNZ</string>
		</dict>
		<dict>
			<key>ipv4</key>
			<string>45.77.246.6</string>
			<key>port</key>
			<string>33445</string>
			<key>public_key</key>
			<string>32Pp4y6kCnqrn2wfTnjStzGKF3Vo2ZHZJhZcTq7MLxLg</string>
		</dict>
		<dict>
			<key>ipv4</key>
			<string>45.76.155.55</string>
			<key>port</key>
			<string>33445</string>
			<key>public_key</key>
			<string>69sU8CgSRhQ89k6d7q76kYjeCeeNAVgJeP6Wr6dFVxkt</string>
		</dict>
		<dict>
			<key>ipv4</key>
			<string>45.76.146.10</string>
			<key>port</key>
			<string>33445</string>
			<key>public_key</key>
			<string>6LHGjA48ppbSAdZf5rMNfJ1UicZg1rSYc2DfBNSGV6t7</string>
		</dict>
	</array>
</dict>
</plist>
